In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize']=(50,50)
#%matplotlib inline

In [21]:
df=pd.DataFrame(np.random.randn(5,3),columns=[1,2,3])

In [22]:
df.iloc[2][0]=np.nan  #iloc in indexed-location in row.
df

          1         2         3
0  0.968942 -1.484082  1.784809
1 -0.689195  0.802196 -0.378380
2 -0.503148 -0.716194 -0.692549
3 -0.565916  0.098029 -1.764569
4 -1.101858 -0.655582  0.408106

In [23]:
df.dropna(axis=1,how='any')

          1         2         3
0  0.968942 -1.484082  1.784809
1 -0.689195  0.802196 -0.378380
2 -0.503148 -0.716194 -0.692549
3 -0.565916  0.098029 -1.764569
4 -1.101858 -0.655582  0.408106

In [24]:
df.iloc[0]

1    0.968942
2   -1.484082
3    1.784809
Name: 0, dtype: float64

In [25]:
plt.plot(df.iloc[0])

In [26]:
plt.savefig('test.png',bbox_inches='tight')

In [27]:
plt.clf()
plt.plot(df.iloc[4])
plt.savefig('test2.png')

In [18]:
df.index[1]

1

In [1]:
import numpy as np

In [2]:
a=np.array([1,2,3],)

In [3]:
a

array([1, 2, 3])

In [4]:
b=a.tolist()

In [6]:
print (b)

[1, 2, 3]

In [7]:
X=np.zeros((2,1))

In [8]:
X[0,0]

0.0

In [9]:
X=np.array((2,1),dtype=object)

In [12]:
X[0]

2