In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.random.randn(5,3),columns=['a','b','c'])

In [9]:
df.iloc[2][0]=np.nan  #iloc in indexed-location in row.
df

          a         b         c
0 -0.456009  0.974779  1.118302
1 -1.777935  0.012559  0.249790
2       NaN -0.773792  1.326551
3  0.680775  0.161961  1.574298
4  0.978136  0.827305  0.052077

In [10]:
df.dropna(axis=1,how='any')

          b         c
0  0.974779  1.118302
1  0.012559  0.249790
2 -0.773792  1.326551
3  0.161961  1.574298
4  0.827305  0.052077